@charset "UTF-8";
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.page-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header .conteyner {
    display: block;
    width: 100%;
  }
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.page-header .menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .page-header .menu-button {
    display: none;
  }
}

.page-header .menu-button .icon-cross {
  display: none;
}

.page-header .menu-button.is-open .icon-cross {
  display: block;
}

.page-header .menu-button.is-open .icon-menu {
  display: none;
}

.page-header .menu-container {
  background-color: white;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .page-header .menu-container {
    padding: 20px;
    z-index: 10;
  }
}

.page-header .menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .page-header .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    max-width: 480px;
    min-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    width: 768px;
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 1170px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-studio {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    padding-top: 40px;
    padding-bottom: 12px;
    font-size: 18px;
  }
  .site-nav .item {
    padding-top: 40px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 29px;
    font-size: 14px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 85px;
  }
  .site-nav .link {
    font-size: 14px;
  }
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .carrent {
  position: relative;
  color: #2196f3;
}

.site-nav .carrent::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: inline-block;
    padding-top: 48px;
    padding-bottom: 40px;
  }
  .auth-nav .item {
    padding-bottom: 16px;
  }
  .auth-nav .link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .auth-nav .item {
    display: block;
  }
  .auth-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .auth-nav .link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .auth-nav .link {
    font-size: 14px;
  }
  .auth-nav .item:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-nav .link {
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav :hover,
.auth-nav :focus {
  color: #2196f3;
}

.auth-nav-icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero-mobil.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero-mobil.jpg);
    background-size: 480px 400px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("hero-mobil-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero-tablet.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("hero-tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../image/hero-ps.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../image/hero-ps.jpg);
    background-size: 1200px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: url("hero-ps-2x.jpg");
  }
}

@media screen and (max-width: 1199px) {
  .hero-section {
    padding-top: 118px;
  }
  .hero .title {
    font-size: 26px;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero-section {
    padding-top: 200px;
  }
  .hero .title {
    font-size: 44px;
    width: 696px;
  }
}

.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characteristics svg {
  width: 70px;
  height: 70px;
}

.characteristics .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .characteristics .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .characteristics {
    margin: -15px;
  }
  .characteristics .item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .characteristics {
    margin: -15px;
  }
  .characteristics .item {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.section-option {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .section-option {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .section-option {
    text-align: left;
  }
}

.section-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.section .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.section-work {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.works .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works .item {
  position: relative;
  margin-right: 30px;
}

.works .item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .works {
    display: none;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.team .title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

@media screen and (max-width: 767px) {
  .team-photo {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-photo {
    width: 354px;
  }
}

.team .list {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .team .list .people {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .list {
    margin: 0 -15px;
  }
  .team .list .people {
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team .people {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team .people .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}

.team .people .social .soc:not(:last-child) {
  margin-right: 10px;
}

.team .people .social .soc-icon {
  fill: #afb1b8;
}

.team .people .social .soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .people .social .soc-link:hover, .team .people .social .soc-link:focus {
  background-color: #2196f3;
}

.team .people .social .soc-link:hover > .soc-icon,
.team .people .social .soc-link:focus > .soc-icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .team .people:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-job {
  margin-bottom: 16px;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.clients .title {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients .title {
    font-size: 28px;
  }
}

.clients .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover, .clients .link:focus {
  border: 1px solid #2196f3;
}

.clients .link:hover > .clients-icon,
.clients .link:focus > .clients-icon {
  fill: #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.clients .list .item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients .list .item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients .list .item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .list .item {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 480px;
    padding: 60px 15px;
  }
  .footer .fer {
    margin-bottom: 60px;
  }
  .footer .adres {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 768px;
  }
  .footer .fer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 89px 60px 76px;
  }
  .footer .prizuv {
    padding-bottom: 60px;
  }
  .footer .prizuv-forma {
    padding-left: 166px;
    padding-right: 152px;
  }
  .footer .button {
    margin-left: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
    width: 1200px;
    height: 252px;
  }
  .footer .prizuv-forma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer label {
    width: 358px;
  }
  .footer .fer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer .adres {
    height: auto;
    margin-right: 69px;
    text-align: left;
  }
  .footer .address {
    text-align: left;
  }
}

.footer .map {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.address a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.foter-logo-studio {
  color: #ffffff;
}

.adres {
  text-align: center;
}

.adres .logo {
  margin-bottom: 20px;
}

.adres .item:not(:last-child) {
  margin-bottom: 8px;
}

.section-footer {
  text-align: center;
}

.joins {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .joins {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .joins {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .joins {
    text-align: left;
  }
}

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-soc .soc {
  margin-right: 10px;
  border-radius: 50%;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.footer-soc .soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc .soc:last-child {
  margin-right: 0px;
}

.footer-soc .soc-icon {
  fill: #ffffff;
}

/* изменение цвета фона при фокус и ховере и анимация */
.footer-soc .soc:hover,
.footer-soc .soc:focus {
  background-color: #2196f3;
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

.finish {
  display: none;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-bottom: 21px;
  padding-top: 18px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button.foot {
  font-weight: 900;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .button.foot {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .button.foot {
    margin-left: 12px;
  }
}

.footer-knopka {
  margin-left: 10px;
  fill: #ffffff;
}

.prizuv-forma {
  display: block;
}

.join {
  text-align: center;
}

.pole {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px 18px;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.tabls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .tabls {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .tabls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .tabls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.tabls li:not(:last-child) {
  margin-right: 8px;
}

.knopka {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, transform;
  transition-property: background-color, color, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.knopka:hover, .knopka:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .knopka {
    margin-bottom: 15px;
  }
}

.card .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card .works {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .card .works .flex-element {
    width: 100%;
  }
  .card .works .flex-element:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card .works .flex-element {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card .works .flex-element {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.card .works .flex-element:hover, .card .works .flex-element:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card .works .flex-element:hover .card-text,
.card .works .flex-element:focus .card-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.card .link {
  display: block;
}

.card-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.card-work {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.card-content {
  width: 100%;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card .popup-text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card-text {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 450px;
  margin: 0px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .card-text {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .card-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .card-text {
    padding: 63px 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: inline-block;
  padding: 40px;
  min-height: 581px;
  width: 450px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal {
    top: 93px;
    left: 15px;
  }
  .modal .contract {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
    left: 159px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    left: 536px;
  }
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-item {
  display: block;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
}

.form-filed {
  position: relative;
  margin-bottom: 28px;
}

.form-filed:last-child {
  margin-bottom: 0px;
}

.form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px;
  padding-left: 42px;
  padding-right: 42px;
}

.form-label {
  position: absolute;
  left: 42px;
  top: 50%;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-texter {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font: inherit;
}

.form-imput:focus + .form-label,
.form-imput:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-29px) translateX(-26px);
          transform: translateY(-29px) translateX(-26px);
}

.form-imput:focus ~ .form-label {
  color: #2196f3;
}

.form-imput:focus ~ svg {
  fill: #2196f3;
}

.form-imput:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-label-texter {
  position: absolute;
  top: 22px;
  left: 16px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.form-texter:focus + .form-label-texter,
.form-texter:not(:placeholder-shown) + .form-label-texter {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

.form-texter:focus ~ .form-label-texter {
  color: #2196f3;
}

.form-texter:focus {
  border: 1px solid #2196f3;
  outline: none;
}

textarea {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
}

.checkbox {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.contract {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.contract-icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.contract-link {
  color: #2196f3;
}

.checkbox:checked + .contract-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.but {
  display: block;
  text-align: center;
}

.modal .button {
  display: inline-block;
  width: 200px;
  margin-top: 30px;
}

.modal .button:hover {
  background-color: #188ce8;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */