@import './utils/variables';
// @import './components/breakpoints';

@import './components/body';
@import './components/page-header';
@import './components/logo';
@import './components/header-nav';
@import './components/auth-nav';
@import './components/section';
@import './components/hero';
@import './components/characteristics';
@import './components/we-works';
@import './components/our-team';
@import './components/clients';
@import './components/footer';
@import './components/button';
@import './components/prizuv-forma';
@import './components/tabls-button';
@import './components/card-works';
@import './components/modal';

// 192.168.1.3:5500  для телефона
