// .auth-nav {
//   display: flex;

//   .item {
//     margin-right: 30px;

//     &:last-child {
//       margin-right: 0px;
//     }
//   }

//   .link {
//     display: flex;
//     align-items: center;

//     color: $text-color;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   :hover,
//   :focus {
//     color: $accent-color;
//   }
//   &-icon {
//     display: inline-block;
//     fill: currentColor;
//     margin-right: 10px;
//   }
// }
