body {
  background-color: $color-body;
  color: $title-text-color;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;

  // @media screen and (max-width: 480px) {
  //   background-color: green;
  // }

  // @media screen and (max-width: 768px) {
  //   background-color: orange;
  // }
}
