.button {
  //   display: flex;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $text-white-color;
  background-color: $accent-color;
  border: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button.foot {
  font-weight: 900;
  // justify-content: center;
  margin-left: 140px;
}
.footer-knopka {
  margin-left: 10px;
  fill: $white-color-icon-svg;
}
