.clients {
  // стили для заголовка
  .title {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
  // стили для ссылки
  .link {
    display: flex;
    // background-color: red;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // изменение цвета бордера при ховер и фокусе
    &:hover,
    &:focus {
      border: 1px solid $accent-color;
    }
    // изменение цвета свг при ховер и фокус
    &:hover > .clients-icon,
    &:focus > .clients-icon {
      fill: $accent-color;
    }
  }
  // изменяем цвет иконки свг
  &-icon {
    fill: $color-icon-svg;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;

    .item {
      margin: 15px;

      @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 4 * 15px) / 2);
      }

      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 6 * 15px) / 3);
      }

      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 12 * 15px) / 6);
      }
    }
  }
}
