.footer {
  background-color: $color-footer;
  // padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    padding: 60px 15px;

    .fer {
      margin-bottom: 60px;
    }
    .adres {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;

    .fer {
      display: flex;
      justify-content: space-between;
      padding: 60px 89px 60px 76px;
    }
    .prizuv {
      padding-bottom: 60px;
    }
    .prizuv-forma {
      padding-left: 166px;
      padding-right: 152px;
    }
    .button {
      margin-left: 125px;
    }
  }
  @media screen and (min-width: 1200px) {
    align-items: center;

    .footer-main {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 15px;

      width: 1200px;
      height: 252px;
    }
    .prizuv-forma {
      display: flex;
    }
    label {
      width: 358px;
    }
    .fer {
      display: flex;
      align-items: baseline;
    }
    .adres {
      height: auto;
      margin-right: 69px;
      text-align: left;
    }
    .address {
      text-align: left;
    }
  }
  // &-main {
  //     display: flex;
  //     width: 1200px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     padding-left: 15px;
  //     padding-right: 15px;
  //     padding-top: 60px;
  //     padding-bottom: 60px;
  //     justify-content: space-between;
  //     align-items: baseline;
  //     // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  //   }

  .map {
    color: $text-white-color;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }
}

.address {
  @media screen and(max-width: 1199px) {
    text-align: center;
  }
  text-align: center;
  justify-content: center;
  margin-top: 30px;

  a {
    color: $text-contacts-footer;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }
}

.foter-logo-studio {
  color: $white-color-icon-svg;
}
.adres {
  text-align: center;

  .logo {
    margin-bottom: 20px;
  }

  .item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.section-footer {
  text-align: center;
}

.joins {
  color: $text-white-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    // margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-soc {
  display: flex;
  justify-content: center;

  .soc {
    margin-right: 10px;
    border-radius: 50%;
    // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
  }

  .soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .soc:last-child {
    margin-right: 0px;
  }
  .soc-icon {
    fill: $white-color-icon-svg;
  }
}

/* изменение цвета фона при фокус и ховере и анимация */
.footer-soc .soc:hover,
.footer-soc .soc:focus {
  background-color: $accent-color;
  transform: rotate(360deg) scale(1.2);
}

.finish {
  display: none;
  color: rgba(255, 255, 255, 0.4);

  text-align: center;
  padding-bottom: 21px;
  padding-top: 18px;
}
