// .footer {
//   background-color: $color-footer;

//   &-main {
//     display: flex;
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     justify-content: space-between;
//     align-items: baseline;
//     // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//   }

//   .map {
//     color: $text-white-color;

//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//   }
// }

// .address {
//   a {
//     color: $text-contacts-footer;
//     text-decoration: none;
//     font-style: normal;
//     font-size: 14px;
//     line-height: 1.71;
//   }
// }

// .foter-logo-studio {
//   color: $white-color-icon-svg;
// }
// .adres {
//   .logo {
//     display: block;
//     margin-bottom: 20px;
//   }
//   .item {
//     margin-bottom: 9px;
//   }
//   .item:last-child {
//     margin-bottom: 0px;
//   }
// }

// .join {
//   color: $text-white-color;
//   text-transform: uppercase;
//   font-size: 14px;
//   line-height: 1.14;
//   margin-bottom: 20px;
// }
// .footer-soc {
//   display: flex;

//   .soc {
//     margin-right: 10px;
//     border-radius: 50%;
//     // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     transition-property: background-color, transform;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 0;
//   }

//   .soc-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 44px;
//     height: 44px;
//     padding: 12px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//   }

//   .soc:last-child {
//     margin-right: 0px;
//   }
//   .soc-icon {
//     fill: $white-color-icon-svg;
//   }
// }

// /* изменение цвета фона при фокус и ховере и анимация */
// .footer-soc .soc:hover,
// .footer-soc .soc:focus {
//   background-color: $accent-color;
//   transform: rotate(360deg) scale(1.2);
// }

// .finish {
//   display: none;
//   color: rgba(255, 255, 255, 0.4);

//   text-align: center;
//   padding-bottom: 21px;
//   padding-top: 18px;
// }
