.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  transition: opacity 250ms;

  @media screen and (max-width: 767px) {
    // width: 450px;
    padding: 93px 15px;
  }
  @media screen and (min-width: 768px) {
    // width: 450px;
    // padding: 208px 159px;
  }
  @media screen and (max-width: 1200px) {
    // width: 582px;
    // padding: 221px 536px;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  display: inline-block;

  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  padding: 40px;

  min-height: 581px;
  width: 450px;
  background: $color-body;

  @media screen and (max-width: 767px) {
    top: 93px;
    left: 15px;

    .contract {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    top: 208px;
    left: 159px;
  }

  @media screen and (min-width: 1200px) {
    top: 221px;
    left: 536px;
  }

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  &-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &-item {
    display: block;
    font-weight: 700px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;

  font-weight: 400px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $title-text-color;

  &-filed {
    position: relative;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &-imput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0px;
    padding-left: 42px;
    padding-right: 42px;
  }

  &-label {
    position: absolute;
    left: 42px;
    top: 50%;
    //   font-weight: 400px;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.01em;

    color: $text-color;
    transform: translateY(-50%);
    transition: transform 250ms linear;
  }

  &-texter {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font: inherit;
  }
}

.form-imput:focus + .form-label,
.form-imput:not(:placeholder-shown) + .form-label {
  transform: translateY(-29px) translateX(-26px);
}
.form-imput:focus ~ .form-label {
  color: $accent-color;
}
.form-imput:focus ~ svg {
  fill: $accent-color;
}
.form-imput:focus {
  border: 1px solid $accent-color;
  outline: none;
}

.form-label-texter {
  position: absolute;
  top: 22px;
  left: 16px;

  // font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;

  color: $text-color;

  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.form-texter:focus + .form-label-texter,
.form-texter:not(:placeholder-shown) + .form-label-texter {
  transform: translateY(-32px);
}
.form-texter:focus ~ .form-label-texter {
  color: $accent-color;
}
.form-texter:focus {
  border: 1px solid $accent-color;
  outline: none;
}

textarea {
  resize: none;
  min-height: 120px;
  padding: 12px 16px;
}
.checkbox {
  -webkit-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  position: absolute;
}

.contract {
  display: inline-flex;
  align-items: center;

  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;

  &-icon {
    display: inline-block;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 8px;
  }

  &-link {
    color: $accent-color;
  }
}

.checkbox:checked + .contract-icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url(../image/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.but {
  display: block;
  text-align: center;
}
.modal .button {
  display: inline-block;
  width: 200px;
  margin-top: 30px;

  &:hover {
    background-color: #188ce8;
  }
}

.modal-close {
  position: absolute;

  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: $color-body;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
