// .social {
//   display: flex;
//   width: 270px;
//   padding-bottom: 24px;

//   .soc {
//     margin-right: 11px;
//   }
//   .soc:last-child {
//     margin-right: 0px;
//   }

//   .soc-icon {
//     fill: $color-icon-svg;
//   }

//   .soc-link:hover,
//   .soc-link:focus {
//     background-color: $accent-color;
//   }

//   .soc-link:hover > .soc-icon,
//   .soc-link:focus > .soc-icon {
//     fill: $white-color-icon-svg;
//   }
// }
// .soc-link {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .team {
//   .people {
//     width: calc((100% - 90px) / 4);
//     background-color: #ffffff;

//     margin-right: 30px;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 1px 3px rgba(0, 0, 0, 0.12);
//     border-radius: 4px;
//   }
//   .list {
//     display: flex;
//     justify-content: center;
//     //  padding-bottom: 24px;
//   }
//   .people:last-child {
//     margin-right: 0px;
//   }
// }
// .section {
//   &-name {
//     margin-top: 30px;
//     margin-bottom: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     text-align: center;
//   }

//   &-job {
//     margin-bottom: 16px;
//     color: var(--text-color);

//     font-size: 16px;
//     line-height: 1.18;
//     text-align: center;
//   }
// }

// .our-team {
//   background-color: $second-color-body;
// }
