.our-team {
  background-color: $second-color-body;
}
.team {
  .title {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
      // margin: -15px;
      .people {
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
      }
    }

    @media screen and (min-width: 1200px) {
      // margin: -15px;
      .people {
        flex-basis: calc((100% - 8 * 15px) / 4);
        margin: 15px;
      }
    }
  }
  .people {
    width: 100%;

    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    .social {
      display: flex;
      padding-bottom: 24px;

      .soc:not(:last-child) {
        margin-right: 10px;
      }

      .soc-icon {
        fill: $color-icon-svg;
      }

      .soc-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: $text-white-color;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          background-color: $accent-color;
        }

        &:hover > .soc-icon,
        &:focus > .soc-icon {
          fill: $white-color-icon-svg;
        }
      }
    }
    // .social {
    //   padding-bottom: 24px;
    // }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
}

// .team {
//   .people {
//     width: calc((100% - 90px) / 4);
//     background-color: #ffffff;

//     margin-right: 30px;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 1px 3px rgba(0, 0, 0, 0.12);
//     border-radius: 4px;
//   }
//   .list {
//     display: flex;
//     justify-content: center;
//     //  padding-bottom: 24px;
//   }
//   .people:last-child {
//     margin-right: 0px;
//   }

.section {
  &-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  &-job {
    margin-bottom: 16px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}
