// .prizuv-forma {
//   display: inline-flex;
// }
// .pole {
//   width: 358px;
//   height: 50px;
//   border-radius: 4px;
//   background-color: transparent;

//   font-family: Roboto, sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.25;

//   color: rgba(255, 255, 255, 0.6);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   padding: 12px 18px;
// }

// ::placeholder {
//   color: rgba(255, 255, 255, 0.6);
// }
