// // .card {
// .tabls {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;

//   li + li {
//     margin-left: 8px;
//   }
// }
// // }

// .knopka {
//   border: 0;
//   border-radius: 4px;
//   cursor: pointer;

//   background-color: $second-color-body;
//   color: $title-text-color;
//   font-family: Roboto, sans-serif;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;

//   padding: 6px 22px;

//   transition-property: background-color, color, transform;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//     color: $text-white-color;
//     box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
//       0px 3px 1px rgba(0, 0, 0, 0.1);
//     transform: scale(1.1);
//   }
// }
